<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>vue-index</title>
</head>
<body>
    <div id="view">
        <router-view></router-view>
    </div>

    <script src="//cdn.schoolpal.cn/libs/jquery/jquery_1.12.4.js" type="text/javascript"></script>
    <script src="//cdn.schoolpal.cn/libs/vue/vue_2.2.6.js" type="text/javascript"></script>
    <script src="//cdn.schoolpal.cn/libs/vuex/vuex_2.3.0.js" type="text/javascript"></script>
    <script src="//cdn.schoolpal.cn/libs/vue-router/vue-router_2.4.0.js" type="text/javascript"></script>
    <script src="//cdn.schoolpal.cn/libs/es6-promise/es6-promise_4.1.0.js" type="text/javascript"></script>
    <script src="//cdn.schoolpal.cn/libs/axios/axios_0.16.1.js" type="text/javascript"></script>
    <script src="//cdn.schoolpal.cn/libs/underscore/underscore_1.8.3.js" type="text/javascript"></script>
    <script src="//cdn.schoolpal.cn/libs/art-template/template_3.0.0.js" type="text/javascript"></script>
    <script src="//cdn.schoolpal.cn/libs/moment/moment_2.17.1.js" type="text/javascript"></script>
    <script src="//cdn.schoolpal.cn/libs/my97datepicker/wdatepicker_4.8.min.js" type="text/javascript"></script>
    <script src="//cdn.schoolpal.cn/libs/webuploader/webuploader_0.1.5.min.js" type="text/javascript"></script>
    <link type="text/css" rel="stylesheet" href="//cdn.schoolpal.cn/libs/qtip/jquery.qtip_3.0.3.min.css" />
    <script src="//cdn.schoolpal.cn/libs/qtip/jquery.qtip_3.0.3.min.js" type="text/javascript"></script>
    <script src="//cdn.schoolpal.cn/libs/echarts/echarts_3.4.0.min.js" type="text/javascript"></script>
    <script src="//cdn.schoolpal.cn/libs/echarts/echarts_3.4.0.min.js" type="text/javascript"></script>

    <script src="~/Scripts/dist/modules/main.js" type="text/javascript"></script>
</body>
</html>